body {
    font-family: 'Courier New', 'Consolas', 'monospace';
    font-size: 15px;
    line-height: 17px;
}

ul {
    list-style: none;
    padding: 0;
}

a,
a:hover {
    color: black;
    text-decoration: none;
}

.btn,
.form-control,
.custom-file-label {
    border-radius: 0;
}

.custom-file-label {
    left: 15px;
    right: 15px;
}

header {
    background: white;
}

header h1 {
    font-size: 19px;
    line-height: 19px;
    margin-bottom: 0;
}

.filter-button,
.filter ul li,
.contact {
    cursor: pointer;
}

.filter ul {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    right: 0;
}

.show-filters .filter-button {
    opacity: 0;
    visibility: hidden;
}

.show-filters ul {
    position: absolute;
    opacity: 1;
    visibility: visible;
    top: 0;
    right: 0;
    width: max-content;
}

.zindex-1 {
    z-index: 26;
}

.hide-image img {
    opacity: 0;
    visibility: hidden;
}

.projects .row > div,
.projects .row > div img {
    transition: all 0.5s ease-in;
}

#contact,
#upload {
    opacity: 0;
    visibility: hidden;
    background-color: #ffffffe0;
}

#contact.open,
#upload.open {
    opacity: 1;
    visibility: visible;
}

.form-control:focus,
.custom-file-input:focus~.custom-file-label {
    border-color: black;
    box-shadow: none;
}

.btn.border[type=submit]:hover
.btn.border[type=submit]:focus {
    border: 1px solid black!important;
}

@media (max-width: 768px) {
    .embed-responsive-16by9::before {
        padding-top: calc(100vw * 3 / 2);
    }
}